.worldContainer {
  display: flex;
  justify-content: center;
  min-width: 300px;
  margin: 0 auto;
}

.headerContainer {
  padding: 20px;
}

.submit {
  width: 60px;
  margin-left: 5px;
}

.playGame {
  width: 60px;
  margin: 5px 0px;
}

.headerInnerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

.label {
  display: flex;
  margin-bottom: 16px;
}

.input {
  margin-left: 5px;
  width: 30px;
  text-align: center;
}

.boardContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.headerButtons {
  display: flex;
  flex-direction: column;
}

.cellContainerDead {
  display: flex;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50px;
}

.cellContainerLive {
  display: flex;
  padding: 10px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50px;
}
